<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add cinema hall</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cinema/style.css' %}">
</head>
<body>
<h1>Add new film</h1>
<div style="margin-bottom: 12px">
    <div style="margin-bottom: 12px">
        <label for="select-cinema">Cinema</label>
        <select id="select-cinema">
            <option value="">Select cinema</option>
            {% for cinema in cinemas %}
                <option value="{{ cinema.id }}">{{ cinema.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div style="margin-bottom: 12px">
        <label for="add-hall-name">Hall name</label>
        <input type="text" id="add-hall-name">
    </div>
    <div style="margin-bottom: 12px">
        <label for="add-hall-size">Number of seats</label>
        <input type="number" id="add-hall-size">
    </div>
    <div style="margin-bottom: 12px">
        <label for="add-hall-row-size">Number of seats per row</label>
        <input type="number" id="add-hall-row-size">
    </div>
</div>
<div id="add-cinema-hall-error" class="error"></div>

<div class="actions-group">
    <a href="/manage">
        <button>Back</button>
    </a>
    <button id="add-cinema-hall">Save</button>
</div>
<script src="{% static 'cinema/script.js' %}"></script>
</body>
</html>