<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{ cinema.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cinema/style.css' %}">
</head>
<body>

    <div class="actions-container">
        <button class="btn btn-back"><a href="/">Back</a></button>
        <button id="book" class="btn" disabled>Book</button>
    </div>
    <div class="cinema-container">
    <div class="seats-container">
        {% for row in cinema.seats %}
            <div class="row">
                {% for seat in row %}

                    <div class="seat {% if seat.status %}booked{% endif %}" data-number="{{ seat.seat_id }}" data-status="{{ seat.status }}">
                    {{ seat.seat_id }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
<div class="screen">screen</div>

</div>
<script src="{% static 'cinema/script.js' %}"></script>
</body>
</html>