body{
    height: 100vh;
    padding: 24px;
    margin: 0;
    box-sizing: border-box;
}
.cinema-container{
    border:1px solid black;

}
.seats-container{
    display: flex;
    flex-direction: column-reverse;
    padding: 16px;
    gap: 8px;

}
.row{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.seat{
    height: 50px;
    width: 50px;
    background-image: url("images/chair.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;
    padding-bottom: 10px;
}
.seat:hover{
    cursor: pointer;
    background-image: url("images/chair_booked.png");
}
.seat.booked,.seat.selected{
    background-image: url("images/chair_booked.png");
}
.seat.booked{
    pointer-events: none;
    opacity: 0.5;
}

#cancel{
    display: none;
}
.btn.danger{
    background-color: #dc3545;
}
.btn:disabled{
    opacity: 0.3;
    cursor:default;
}
.show{
    display: block !important;
}
.hide{
    display: none !important;
}
.btn.btn-back{
    background-color: #6c757d;
    padding: 0;
}
.btn-back a{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.actions-container{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.screen{
    margin-top: 50px;
    text-align: center;
    background: aqua;
}
.showing-container{
    display: flex;
    justify-content: space-around;
    gap: 16px;
}
.movie{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu{
    display: flex;
    gap: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid grey;
}
.menu a{
    text-decoration: none;
    font-weight: bold;
}
.manage-container{
    display: flex;
    flex-wrap: wrap;
}
.manage-item{
    width: 50%;
    padding: 16px;
    box-sizing: border-box;
}
.manage-header{
    display: flex;
    gap: 24px;
    align-items: center;
}
.error{
    color: red;
    font-weight: bold;
}
.table-list{
    border-collapse: collapse;
}
.table-list th,.table-list td{
    border: 1px solid black;
    padding: 8px;
}
.actions-group{
    display: flex;
    gap: 8px;
    align-items: center;
}
.actions-group a{
    text-decoration: none;
}
#find-shows-table{
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 24px;
}
#find-shows-table th,#find-shows-table td{
    border: 1px solid black;
    padding: 8px;
}